body {
  font-family: arial;
}
.main {
  margin: 2%;
}

.card {
  width: 20%;
  display: inline-block;  
  box-shadow: 2px 2px 20px rgb(8, 7, 7);
  background: rgba( 255, 255, 255, 0.65 );
  backdrop-filter: blur( 20px );
  border-radius: 12px;
  margin: 2%;
  padding: 20px;
  /* background-color: white; */
  /* border: 10px solid black; */
}
.image img {
  height:200px;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid black;
}

.title {
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 20px;
}

.des {
  padding: 3px;
  text-align: center;

  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
button {
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}
button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
button{
  background-color: grey;
  border-color: 1px solid black;
  border-radius: 50px;

}
li{
  color: black;
}
p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height:50px;
  overflow: scroll;
}
h1{
  font-family: 'Times New Roman', Times, serif;
}
h1:hover{
  color:rgb(223, 68, 68);
  transition: 0.5;
  cursor: crosshair;
}
body{
  background-image: url(images/back.jpg);
  background-attachment: fixed;
  text-align: center;
}
